In [1]:
my_list = [1, 3, 5, 7, 9]

In [2]:
# Colon must be utilized after varaible is called
for element in my_list:
    print(element)
print('End')

1
2
5
7
9
End

In [11]:
values = list(range(1,10,2))
values

[1, 3, 5, 7, 9]

In [16]:
#squares the values

squares = []

In [17]:
#append helps to squares the values of the element
for i in values:
    squares.append(i**2)
print('Original values:', values)
print('Squared values:', squares)

Original values: [1, 3, 5, 7, 9]
Squared values: [1, 9, 25, 49, 81]

In [20]:
my_dict = {'Enter a value greater than zero:' }
my_dict

{'Enter a value greater than zero:'}

In [50]:
user_list = []

x = 0
y = int(input("Please enter a number greater than 0 : "))

for i in range (0,y):
  value = int(input())

  user_list.append(value)

if x == y:
  print('ERROR')
else:
  print(user_list)

Please enter a number greater than 0 : 4
2
4
6
8
[2, 4, 6, 8]

In [48]:
x = float(input("Please input a number: "))
if x %2 == 0:
  print("x is even")
else:
   print("x is odd")

In [35]:
import pandas as pd

In [51]:
storage = {'Even' : ['2', '4', '6', '8'],
        'Odd' : [1,3,5,7],
        'Fibonacci' : [0, 1, 1, 2]}
df = pd.DataFrame(storage)

df.style